<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Webpack</title>
    </head>

    <body>
        Hello webpack!
    </body>
</html>
